<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PasteBin</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
</head>
</head>

<body class="h-screen bg-[#282c34] custom-scrollbar p-4 pr-0">
    <pre><code id="paste-here" class="custom-scrollbar hidden" contenteditable="true"></code></pre>

    <textarea id="paste-here-textarea"
        class="font-light text-slate-300 border-none outline-none resize-none pt-4 pl-4 w-full h-full text-xl bg-[#282c34] custom-scrollbar"
        placeholder="Paste your code here and to save type ctrl + s"></textarea>

    <!-- Include Prism.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script src="./static/script.js"></script>
</body>

</html>